<p>Dear, <%= @user.fname %></p>
<p>
  Thank you for participating in our auction.
  The auction was a great success! We were able to raise over (auction total) to fund
  further charitable activities.<br>
</p>
<p>
  A summary of your partcipation is below...
</p>
<h3>Auction Items Donated:</h3>
<p>Please contact winning bidder(s) via email to arrange delivery.</p>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Value</th>
      <th>Winning Bid</th>
      <th>Winning Bidder Email</th>
    </tr>
  </thead>
</table>
<p>We couldn't do this without your support. See you next time!</p>
<p>Sincerely,</p>
<p>The Sponsor</p>
