<tr>
  <td colspan="6">
    <div class="lead text-center">
      <% if current_page?('/') || current_page?('/items') %>
        No items available. Be the first to <%= link_to "donate an item.", new_item_path %>
      <% elsif current_page?('/watch_list_items') %>
        There are no items on your watchlist.
      <% elsif current_page?('/my_donations') %>
        You have not yet made any donations.
      <% end %>
    </div>
  </td>
<tr>