@import "bootstrap-sprockets";
@import "bootstrap";

/* TODO: (remove charity logo hardcode stylerule) */
.glyphicon-heart {
  font-size: 90px;
  color: #D45555;
}

.glyphicon-plus-sign, .glyphicon-minus-sign {
  font-size: 150%;
}

.logo {
  margin-top: 10px;
  margin-left: 20px;
}

.jumbotron {
  text-align: center;
  margin-top: 5%;
}

.number-input {
  width: 30%;
}

.amount-field {
  width: 65%;
  display: inline;
}

.review-amount-field {
  width: 20%;
  display: inline;
}

.review-div {
  margin-top: 15px;
}

.panel {
  padding-bottom: 25px;
}

.countdown {
  color: red;
  text-align: right;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors { 
  display: inline;
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.active {
  text-decoration: underline
}