@import "bootstrap-sprockets";
@import "bootstrap";

.page-header {
  background-color: lightblue;
}

.glyphicon {
  font-size: 90px;
  color: #D45555;
}

.number-input {
  width: 30%;
}

.amount-field {
  width: 65%;
  display: inline;
}

.countdown {
  color: red;
  text-align: right;
}

.field_with_errors { 
  display: inline;
}